# Capstone project - week 3: Segmenting and Clustering Toronto

Use pandas read_html to read all tables from a web page. Then assign column names to the data frame.

In [6]:
import pandas as pd
data = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M',skiprows=1)
df = data[0]
df.columns=['PostalCode','Borough','Neighborhood']
df.head()

  PostalCode           Borough                       Neighborhood
0        M2A      Not assigned                                NaN
1        M3A        North York                          Parkwoods
2        M4A        North York                   Victoria Village
3        M5A  Downtown Toronto         Regent Park / Harbourfront
4        M6A        North York  Lawrence Manor / Lawrence Heights

Remove rows where the borough value is "Not assigned".

In [7]:
df = df[df.Borough != 'Not assigned']
df.head()

  PostalCode           Borough                                  Neighborhood
1        M3A        North York                                     Parkwoods
2        M4A        North York                              Victoria Village
3        M5A  Downtown Toronto                    Regent Park / Harbourfront
4        M6A        North York             Lawrence Manor / Lawrence Heights
5        M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

Find out the row that has "Not assigned" value in its neighborhood column and then assign the value in borough to neighborhood column.

In [8]:
df[df['Neighborhood'] == 'Not assigned']

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

In [9]:
def replace(row):
    if row['Neighborhood'] == 'Not assigned':
        row['Neighborhood'] = row['Borough']
    return row

df = df.apply(replace, axis = 1)
df.head()

  PostalCode           Borough                                  Neighborhood
1        M3A        North York                                     Parkwoods
2        M4A        North York                              Victoria Village
3        M5A  Downtown Toronto                    Regent Park / Harbourfront
4        M6A        North York             Lawrence Manor / Lawrence Heights
5        M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

Validate that the record with postal code M7A has "Queen's park" in its neighborhood column.

In [10]:
df.head(7)

  PostalCode           Borough                                  Neighborhood
1        M3A        North York                                     Parkwoods
2        M4A        North York                              Victoria Village
3        M5A  Downtown Toronto                    Regent Park / Harbourfront
4        M6A        North York             Lawrence Manor / Lawrence Heights
5        M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government
7        M9A         Etobicoke                              Islington Avenue
8        M1B       Scarborough                               Malvern / Rouge

|For rows with same postal code (and borough), aggregate their neighborhood values together seperated with ","

In [11]:
df = df.groupby(['PostalCode','Borough']).apply(lambda group: ','.join(group['Neighborhood']))
df = df.to_frame()
df.head()

                                                               0
PostalCode Borough
M1B        Scarborough                           Malvern / Rouge
M1C        Scarborough  Rouge Hill / Port Union / Highland Creek
M1E        Scarborough       Guildwood / Morningside / West Hill
M1G        Scarborough                                    Woburn
M1H        Scarborough                                 Cedarbrae

In [12]:
df = df.rename(columns = {0: 'Neighborhood'}).reset_index()
df.head()

  PostalCode      Borough                              Neighborhood
0        M1B  Scarborough                           Malvern / Rouge
1        M1C  Scarborough  Rouge Hill / Port Union / Highland Creek
2        M1E  Scarborough       Guildwood / Morningside / West Hill
3        M1G  Scarborough                                    Woburn
4        M1H  Scarborough                                 Cedarbrae

In [13]:
df.shape

(103, 3)